* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background-color: blueviolet;
    color: #fff;
    margin: 100px auto 50px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background: #d1f2f0;
}

.search button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.search img {
    width: 16px;
}

.weather-icon {
    width: 120px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-right: 20px;
    margin-left: 30px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.error {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: red;
}
