@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    @apply bg-gray-900 text-white;
  }
  
  #root {
    @apply min-h-screen;
  }
}
